<article class="feed__item">
	<header class="wrapper">		
		<div class="feed__meta">
			{{- partial "entry/meta/date.html" . }}
		</div>
		<h2>
			<a href="{{ .RelPermalink }}" class="invert">{{ .Title }}</a>
		</h2>
	</header>
	<div class="wrapper">
		{{ partial "entry/featured_project.html" .}}
	</div>
	<div class="wrapper">
		{{ partial "entry/tags.html" . }}
		{{ if gt (len .Summary) 200 }}
			<p>{{slicestr .Summary 0 200}}</p>
		{{ else }}
			<p>{{ .Summary }}</p>
		{{ end }}
		<a class="btn" href="{{ .RelPermalink }}">Show Detail</a>
	</div>
</article>