{{ if (.Param "comments")}}
<section class="post__comments">
	<!-- {{ template "_internal/disqus.html" . }} -->
	<div class="wrapper">
		<h5>💬 Comment:</h5>
		<!-- <div id="hyvor-talk-view"></div> -->
		<script src="https://utteranc.es/client.js"
			repo="wisnuwiry/blog-v2"
			issue-term="title"
			label="comment"
			theme="photon-dark"
			crossorigin="anonymous"
        async>
		</script>
		<!-- <script>
		    var disqus_loaded = false;

		    function publiiLoadDisqus() {

		        var top = document.getElementById('hyvor-talk-view').offsetTop;

		        if (!disqus_loaded && (window.scrollY || window.pageYOffset) + window.innerHeight > top) {
		            disqus_loaded = true;

		            (function () {
		                var d = document, s = d.createElement('script');
						s.src = '//utteranc.es/client.js';
						s.repo = 'wisnuwiry/blog-v2';
						s.issueTerm = 'title';
						s.theme = 'photon-dark';
						s.crossOrigin = 'anonymous';
						s.async = true;
		                (d.head || d.body).appendChild(s);
		            })();
		        }
		    }

		    publiiLoadDisqus();

		    window.onscroll = function() {
		        publiiLoadDisqus();
		    };
		</script> -->
</section>
{{ end }}