{{- if .Site.Menus.main }}

	<nav class="navbar js-navbar">
		<button class="navbar__toggle js-toggle" aria-label="Menu" aria-haspopup="true" aria-expanded="false"><span class="navbar__toggle-box"><span class="navbar__toggle-inner">Menu</span></span>
		</button>
		<ul class="navbar__menu">
			{{- $currentNode := . }}
			{{- range .Site.Menus.main }}
				{{- $current := (or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)) }}
				{{- if .Name }}
				<li style="color: white">
					{{ if not $current }}<a href="{{ .URL }}">{{ end }}
						{{ .Pre }}
						{{ .Name }}
						{{ .Post }}
					{{ if not $current }}</a>{{ end }}
				</li>
				{{- end }}
			{{- end }}
		</ul>
	</nav>
{{- end }}